.main-page{
	padding-top: 72px;
	padding-bottom: 72px;

	background-color: $color-main-background;
	&__container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		}
	&__card-wrapper{
		position: relative;

		flex: 1 1 65.98%;

		max-width: 65.98%;

		}
	}


.user-block{
	position: relative;

	flex: 0 0 29.91%;

	margin-right: 4.1%;

	color: $color-profile;
	&__profile{
		display: flex;
		justify-content: space-between;

		max-width: 85.71%;
		margin-bottom: 33px;
		}
	&__avatar-wrapper{
		flex: 0 0 40%;

		margin-right: 6.86%;

		}
	&__avatar{
		position: relative;

		overflow: hidden;

		width: 100%;
		padding-top: 100%;

		border-radius: 50%;
		& img{
			position: absolute;
			top: 0;

			width: 100%;
			}
		}
	&__info{
		flex: 0 0 44.57%;
		//max-width: 156px;
		}
	&__name{
		margin-bottom: 8px;

		font-family: "Montserrat", sans-serif;
		font-size: 24px;
		font-weight: 600;
		line-height: 26px;
		}
	&__nickname{
		margin-bottom: 16px;

		letter-spacing: -0.5px;

		line-height: 20px;
		}
	&__edit-profile-button{
		position: relative;

		padding-left: 28px;

		cursor: pointer;
		text-decoration: underline;

		color: $color-red;

		line-height: 20px;
		&:before{
			position: absolute;
			bottom: 0;
			left: 0;

			width: 20px;
			height: 20px;

			content: "";

			background: url("../../components/Main/images/edit-profile-icon.svg") no-repeat center center;
			}
		}

	&__follow-wrapper{
		position: relative;
		left: 2px;

		display: flex;
		flex: 0 0 80.57%;
		justify-content: space-between;

		max-width: 80.57%;
		margin-bottom: 24px;
		}
	&__follow-block{
		text-align: center;
		}
	&__follow-number{
		text-align: center;

		color: #3e3f58;

		font-size: 18px;
		font-weight: bold;
		line-height: 24px;
		}
	&__follow-title{
		color: $color-follow-title;

		font-size: 16px;
		line-height: 24px;
		}
	&__description{
		line-height: 150%;
		}

	&__report-wrapper{
		position: absolute;
		z-index: 100;
		top: 0;
		right: 38px;

		width: 0;

		}
	&__report-toggle-button{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		width: 24px;
		height: 24px;

		cursor: pointer;
		& span{
			width: 4px;
			height: 4px;

			border-radius: 50%;
			background-color: $color-black;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
			}
		& span:not(:first-child){
			margin-top: 2px;
			}
		}
	&__report-list{
		position: relative;
		top: 17px;

		visibility: hidden;

		width: max-content;
		padding: 24px 0;

		transition: visibility 0.1s linear;

		border-radius: 8px;
		background-color: rgba(255, 255, 255, 0.94);
		box-shadow: 0 24px 24px rgba(0, 0, 0, 0.06);
		&--open{
			visibility: visible;
			}
		}

	&__report-link{
		position: relative;

		display: block;

		padding: 8px 23px 8px 60px;

		font-weight: 600;
		line-height: 22px;
		&:before{
			position: absolute;
			top: 50%;
			left: 24px;

			width: 20px;
			height: 20px;

			content: "";
			transform: translateY(-50%);
			}
		&[alt^="Report"]{
			&:before{
				background: url("../../components/Main/images/icon_report.svg") no-repeat center;
				}
			}
		&[alt^="Block"]{
			&:before{
				background: url("../../components/Main/images/icon_block.svg") no-repeat center;
				}
			}
		&:hover{
			background-color: $color-main-background;
			}
		}
	}


.privacy-switcher{
	display: flex;
	&__item{
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;

		}
	&__button{
		position: relative;

		width: 40px;
		height: 24px;
		margin-right: 30px;
		margin-left: 30px;

		cursor: pointer;

		border: 3px solid $color-privacy-switcher;
		border-radius: 20px;
		background-color: $color-privacy-switcher;
		& span{
			position: absolute;
			right: calc(100% - 18px);

			width: 18px;
			height: 18px;

			transition: right 0.1s linear;

			border-radius: 50%;
			background-color: $color-white;
			}
		&--private{
			border: 3px solid $color-red;
			background-color: $color-red;
			span{
				right: 0;
				}
			}
		}
	}



.card-wrapper{
	&__privacy-switcher{
		position: relative;
		top: 2px;
		left: 9px;

		margin-bottom: 8.03%;
		}
	&__card-box{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		}
	}


.card{
	flex: 0 0 48.45%;
	//max-width: 48.45%;

	min-width: 320px;
	margin-bottom: 3.1%;
	padding: 24px;

	border-radius: 8px;
	background: $color-white;
	box-shadow: 0 24px 24px rgba(0, 0, 0, 0.06);

	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	&:nth-child(2n+1){
		margin-right: 3.1%;
		}
	&__header{
		& + div{
			padding-top: 10px;
			}
		}
	&__title{
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;

		padding-top: 32px;

		text-overflow: ellipsis;

		font-family: "Montserrat", sans-serif;
		font-size: 36px;
		font-weight: 400;
		line-height: 44px;

		-webkit-line-clamp: 3;
		}

	&__author-avatar{
		width: 24px;
		height: 24px;
		margin-right: 8px;

		border-radius: 50%;
		background-color: #b2b3bb;
		}
	&__footer{
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-top: 44px;
		}
	&__author-box{
		display: flex;
		align-items: center;
		justify-content: space-between;
		}


	&__share-link{
		color: $color-red;

		font-size: 18px;
		font-weight: 400;
		line-height: 24px;

		}
	&__share-info{
		position: relative;

		overflow: hidden;

		white-space: nowrap;
		text-overflow: ellipsis;

		font-size: 16px;
		line-height: 22px;

		-webkit-line-clamp: 1;
		&--weblink{
			padding-left: 20px;
			&:before{
				position: absolute;
				top: 50%;
				left: 0;

				width: 16px;
				height: 16px;

				content: "";
				transform: translateY(-50%);

				background: url("../../components/Main/images/link-icon.svg") no-repeat center;

				}
			}
		}
	&__share-tag{
		margin-left: 5px;
		padding: 0 4px;

		border-radius: 6px;
		background: #ecf1f8;

		font-size: 16px;
		line-height: 16px;

		}
	&__stats-box{
		display: flex;
		}
	&__view-stats{
		position: relative;

		margin-right: 16px;
		padding-left: 24px;
		&:before{
			position: absolute;
			top: 50%;
			left: 0;

			width: 16px;
			height: 16px;

			content: "";
			transform: translateY(-50%);

			background: url("../../components/Main/images/icon_view.svg") no-repeat center;
			}
		}

	&__like-stats{
		position: relative;

		display: flex;
		align-items: center;
		& svg{
			margin-right: 8px;
			}

		}
	&__like-button{
		color: inherit;

		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		}
	}
