include images/icons

main.main-page
  .main-page__container.container
    .user-block
      .user-block__profile
        .user-block__avatar-wrapper
          .user-block__avatar
            img(src="../../components/Main/images/profile-avatar.jpg")
        .user-block__info
          - var name = 'Benjamin Clementine';
          - var nickname = '@benclementine';
          .user-block__name= name
          .user-block__nickname= nickname
          .user-block__edit-profile-button
            | Edit Profile
      .user-block__follow-wrapper
        .user-block__follow-block
          .user-block__follow-number 45
          .user-block__follow-title synths
        .user-block__follow-block
          .user-block__follow-number 110
          .user-block__follow-title followers
        .user-block__follow-block
          .user-block__follow-number 322
          .user-block__follow-title following
      .user-block__description
        | Cryptocurrencies including Ethereum, Ripple, and Litecoin have all plunged between 20 to 30 percent each, according to CoinMarketCap. Here is the latest Ripple price news and live updates on XRP, bitcoin and Ethereum.
      .user-block__report-wrapper
        .user-block__report-toggle-button
          span
          span
          span
        ul.user-block__report-list
          li.user-block__report-list-item
            a.user-block__report-link(href="#", alt="Report User") Report User
          li.user-block__report-list-item
            a.user-block__report-link(href="#", alt="Block User") Block User
    .card-wrapper.main-page__card-wrapper
      .privacy-switcher.card-wrapper__privacy-switcher
        p.privacy-switcher__item Public
        .privacy-switcher__button.privacy-switcher__button--private
          span
        p.privacy-switcher__item Private
      .card-wrapper__card-box
        .card
          .card__title New air routes that promise cheap flights in
          .card__footer
            .card__author-box
              .card__author-avatar
              .card__author-name Gregory Watkins
            a.card__share-link(href="#", alt="Share") Share
        .card
          .card__title New air routes that promise cheap flights in
          .card__footer
            .card__author-box
              .card__author-avatar
              .card__author-name Gregory Watkins
            a.card__share-link(href="#", alt="Share") Share

        .card
          .card__header
            .card__share-info
              | Shared to
              span.card__share-tag #discussionaboutanimgttddsttddsdfsasfadsfasdfasdfs
          .card__title New air routes that promise cheap flights in
          .card__footer
            .card__author-box
              .card__author-avatar
              .card__author-name Gregory Watkins
            .card__stats-box
              .card__view-stats
                | 88

              .card__like-stats
                +icon-like
                button.card__like-button 24
        .card
          .card__header
            .card__share-info.card__share-info--weblink Shared via weblink
          .card__title New air routes that promise cheap flights in
          .card__footer
            .card__author-box
              .card__author-avatar
              .card__author-name Gregory Watkins
            .card__stats-box
              .card__view-stats
                | 88
              .card__like-stats
                +icon-like
                button.card__like-button 24
