doctype html
html(lang="en")
  head
    include ../../Components/Meta/Meta
    title Swivl - Kovalenko Pavel
    style.
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600;700&display=swap');
  body
    include ../../Sections/Header/Header
    include ../../Sections/Main/Main
    script(src="./Home.js")
