- var customActionButtonClass = 'header__action-button';
header.header
  .header__container.container
    include ../../Components/Logo/Logo
    include ../../Components/Profile-box/Profile-box
  .header__nav-container.container
    include ../../Components/Navigation/Navigation
    include ../../Components/Action-button/Action-button
