meta(charset="UTF-8")
meta(name="description", content="Test task for Swivl")
meta(name="keywords", content="HTML, CSS, JavaScript")
meta(name="author", content="Pavel Kovalenko")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="theme-color", content="#ffffff")
