//colors
$color-main: #3e4056;
$color-profile: #3e3f58;
$color-red: #f05d63;
$color-white: #fff;
$color-follow-title: #636363;
$color-main-background: rgba(236,241,248, 0.4);
$color-black: #000;
$color-privacy-switcher: #b2b3bb;

//fonts
$font-family: "Open Sans", sans-serif;
$font-size: 16px;
$line-height-default: 125%;
