- var customUserBlockClass = 'main-page__user-block';
- var customCardWrapperClass = 'main-page__card-wrapper';

main.main-page
  .main-page__container.container
    include ../../Components/User-block/User-block
    include ../../Components/Card-wrapper/Card-wrapper
